html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  padding: 5rem;
  line-height: 1.6rem;
  font-family: "Nunito Sans", sans-serif;
  color: #555555;
  min-height: 100vh;
  background-color: beige;
}

h1 {
  font-family: "Megrim", sans-serif;
  font-size: 6rem;
  color: white;
  text-align: center;
  position: relative;
  word-spacing: 3px;
}
